# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
# Conda environment
/env/
/venv/
/.venv/
# IDE and OS specific
.idea/
.vscode/
*.swp
.DS_Store
# Config file (optional, if you don't want to commit default config)
# config.json 